.media-box-choosen-template {
  display: none;
}

.qor-field__mediabox-list{
	.qor-file__list > ul{
		margin-top: 0;
	}
}
.qor-bottomsheets__mediabox{
	max-height: 700px !important;
	.mdl-card__supporting-text,.qor-table--medialibrary-item{
		border-radius: 0 !important;
	}
	.qor-bottomsheets__body{
		table:not(.qor-table--medialibrary){
			img{
				height: 48px !important;
			}
			tbody tr{
				height: 60px;
				.qor-table__content{
					overflow: inherit;
					max-height: none;
				}
			}
		}

		.qor-table--medialibrary{
			margin-left: -13px;
			width: calc(100% + 13px);
			border-spacing: 0;
			img{
				max-height: 160px;
				max-width: 100%;
			}
			.mdl-card__supporting-text{
				padding: 0;
				text-align: center;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, .24);
				>p{
					margin-bottom: 0;
					color: #fff;
				}
			}

			thead{
				display: none;
			}
			tbody tr{
				width: 50%;
				&:nth-child(2n){
					.qor-table--medialibrary-item{
						margin-left: 0;
						width: 100%;
					}
				}
				.qor-table--medialibrary-item{
					background-size: cover;
					background-repeat: no-repeat;
					margin: 0 1px 1px 0;
				}
				td{
					padding: 0;
					width: 100%;
					background-color: #eee;
					.qor-table--medialibrary-item{
						position: relative;
					}
					.qor-select__select-icon{
						left: 10px;
						top:  20px;
						z-index: 2;
						i{
							background-color: #fff;
	  						border-radius: 100%;
						}
					}
				}
			}
			.mdl-card{
				width: calc(100% - 1px);
				min-height: 162px;
				max-height: 162px;
				.qor-table__actions{
					display: none;
				}
			}
			.mdl-shadow--2dp{
				box-shadow: none;
			}
		}
	}
}

.qor-field__mediabox-item.is_deleted {
	border: 1px solid rgba(0,0,0,.12);
}
